/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding: 0 2rem; /* Add padding to create space around the header content */
}

/* Logo and Icon */
.header-logo {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-logo-icon {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.5rem;
}

/* Hamburger Menu */
.header-hamburger {
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none; /* Remove the focus outline */
  position: relative; /* Position the icon relative to the dropdown */
  z-index: 1001; /* Ensure the hamburger icon stays above the dropdown */
}

/* Navigation Links for Larger Screens */
.header-nav {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: auto; /* Ensure the navigation links are pushed to the right */
  display: none; /* Initially hide the nav links on smaller screens */
  gap: 2rem; /* Add space between navigation links */
}

/* Display navigation links on larger screens */
@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}

/* Dropdown Menu */
.header-dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 4.5rem; /* Position the dropdown slightly below the hamburger icon */
  right: 0; /* Align the dropdown with the right edge of the hamburger icon */
  width: max-content; /* Ensure the dropdown width fits the content */
  z-index: 1000; /* Ensure the dropdown appears below the hamburger icon */
}